body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
}

div {
    float: left;
    width: 300px;
    background: darkgray;
    margin: auto;
}

header {
    width: 300px;
    padding: 25px;
    margin: 25px;
    background: darkgray;
}

nav{
    background: darkgray
}